body {
	margin: 0px;
	padding: 0px;
}

.nav {
	background: darkblue;
	color: white;
	width: auto;
	height: 9%;
	padding: 10px;
	align-content: center;
}

.nav h1 {
	margin: 100px;
}

footer {
	background-color: black;
	color: azure;
	padding: 5px;
	margin-top: 32em;
	text-align: center;
	font-family: cursive;
}